.social
  ul
    @include aic
    padding: 0
    margin: 0

    li
      margin-right: rem(16)
      margin-bottom: 0
      list-style: none

      a
        max-width: rem(32)
        min-width: rem(32)
        height: rem(32)
        width: 100%
        @include aic-jcc

        .icon
          max-width: rem(30)
          min-width: rem(30)
          height: rem(30)

          &_fill
            fill: $accent

      &:last-child
        margin-right: 0
