.additional-info
  .container
    .additional-info__trigger-wrap.trigger-info-js
      .additional-info__trigger-show Читать полностью
      .additional-info__trigger-hide Скрыть
      .icon.icon_stroke
        svg(stroke-width="1.5" stroke="#009688")
          use(xlink:href='sprite.svg#angle-down')
    .additional-info__inner
      .additional-info__visible-part
        p Alay Express - это торгово-логистический сервис, специализирующийся на трансграничной торговле. Наша команда базируется в Кыргызстане и предоставляет инновационные решения в рамках собственного программного продукта.


      .additional-info__hidden-part
        h3 Инфраструктура
        
        ul 
          li Собственные склады в странах Европейского союза, включая главный в Австрии.
          li Склад в Австрии обладает лицензией почтового оператора от Кыргыз Почтасы.
          li Лучшие тарифы на авиа и автодоставку между странами ЕС и Центральной Азии.
        
        h3 Преимущества
        
        ul 
          li Собственные технологии и программные решения, обеспечивающие эффективность обработки заказов. 
          li Уникальные условия для трансграничной торговли, включая таможенное оформление и доставку. 
          li Удобный калькулятор для оценки стоимости доставки. 
          li Отслеживание посылок онлайн и мобильный адаптив для максимального удобства клиентов. 
          li Горячая линия доступна 24/7 для оперативного решения вопросов. 
          li Выбор популярных товаров из списка и примерная стоимость доставки. 
          li Возможность разделить стоимость доставки, заказывая вещи из разных интернет-магазинов Европы. 
        
        p Выберайте Alay Express для надежной и инновационной логистики в рамках трансграничной торговли между ЕС и Центральной Азией.


