footer.footer
  .container 

    a(href='#top' data-scroll).scroll-top Начало страницы
      .icon.icon_stroke
        svg
          use(xlink:href='sprite.svg#anchor-arrow')


    .footer__inner 
      .footer__col 
        .logo
          a(href="#").logo__link
            img(src="images/dist/logo-footer.svg" width="214" height="38" alt="logo")

        include ../includes/social
        +social('accent')

      
      .footer__col
        .footer__nav
          ul 
            li Наш адрес
            li Кыргызстан, г. Бишкек, <br> ул. Киевская 112

      .footer__col
        .footer__nav
          ul 
            each item in footerNav1
              li
                if item.id 
                  a(href="#")=item.label
                  //- a(href="#"+item.id)=item.label
                  //- span.scroll-button(data-target="#"+item.id)=item.label
                  
                if item.link   
                  a(href=item.link target="_blank")=item.label
      .footer__col 
        .footer__nav
          ul 
            each item in footerNav2
              li
                if item.id 
                  a(href="#"+item.id data-scroll).anchor-js=item.label
                if item.link   
                  a(href=item.link target="_blank")=item.label


    .footer__copyright
      p &copy; 2024 RAIDEX. Все права защищены. 
