header.header
  .container
    .header__inner 
      .header__inner-item.logo 
        a(href="index.html").logo__link
          img(src="images/dist/logo.svg", width="157.41" height="28" alt="logo")

      .header__control-btns.header__inner-item
        .header__control-icon.header__control-icon_hamburger
          .hamburger.hamburger-js
            span
            span
            span
                          