.popup.popup-js(data-name="track-number")
  .popup__window
    .popup__close 
      .icon.icon_stroke
        svg
          use(xlink:href='sprite.svg#close')
    .popup__title Где найти трек номер?
    .popup__window-content.vertical-scroll  
      h2 Lorem, ipsum dolor.
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat hic est natus animi tempore, quibusdam nemo architecto possimus perferendis! Alias enim libero nisi cumque tempore, explicabo repudiandae, odit sapiente corrupti fugit deserunt? Quos nesciunt excepturi quia laborum autem atque officia incidunt minus dolore natus ullam saepe earum tempore, omnis inventore, sapiente mollitia corrupti et ipsam dolorum quisquam, fugiat ut suscipit voluptatem. Facere exercitationem nesciunt adipisci odio repellat impedit! Debitis obcaecati cum nulla quaerat veniam consequatur modi quod minus commodi vel excepturi, facilis iste beatae assumenda deleniti reprehenderit optio necessitatibus sunt minima voluptates qui soluta laudantium doloribus! Provident quasi error molestiae!
      h2 Lorem, ipsum dolor.
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat hic est natus animi tempore, quibusdam nemo architecto possimus perferendis! Alias enim libero nisi cumque tempore, explicabo repudiandae, odit sapiente corrupti fugit deserunt? Quos nesciunt excepturi quia laborum autem atque officia incidunt minus dolore natus ullam saepe earum tempore, omnis inventore, sapiente mollitia corrupti et ipsam dolorum quisquam, fugiat ut suscipit voluptatem. Facere exercitationem nesciunt adipisci odio repellat impedit! Debitis obcaecati cum nulla quaerat veniam consequatur modi quod minus commodi vel excepturi, facilis iste beatae assumenda deleniti reprehenderit optio necessitatibus sunt minima voluptates qui soluta laudantium doloribus! Provident quasi error molestiae!