extends layouts/static-page

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';


block title
  | Raidex
block main
  include includes/title

  .text
    .container 
      .title.title_h2 Соглашение о персональных данных

      p С изменениями от 21 февраля 2024 г.

      ul 
        li.scroll-button(data-target="#chapter1") Глава 1. ОБЩИЕ УСЛОВИЯ
        li.scroll-button(data-target="#chapter2") Глава 2. ДОСТУП К САЙТУ
        li.scroll-button(data-target="#chapter3") Глава 3. РЕГИСТРАЦИЯ И ЛИЧНЫЙ КАБИНЕТ
        li.scroll-button(data-target="#chapter4") Глава 4. ПОСЫЛКИ
        li.scroll-button(data-target="#chapter5") Глава 5. ВЫКУП ТОВАРА
        li.scroll-button(data-target="#chapter6") Глава 6. ОТВЕТСТВЕННОСТЬ КОМПАНИИ
        li.scroll-button(data-target="#chapter7") Глава 7. ПЕРСОНАЛЬНЫЕ ДАННЫЕ
        li.scroll-button(data-target="#chapter8") Глава 8. РЕКВИЗИТЫ
      br
      div#chapter1
        .title.title_h4 Глава 1. ОБЩИЕ УСЛОВИЯ 
        .chapter-item
          p 1.
          p Компания ОсОО “Raidex” (далее – «Мы», «Компания»), юридическое лицо, созданное и действующее согласно законодательству Кыргызской Республики, напрямую либо при необходимости с привлечением компании Raidex, юридического лица, созданного и действующего согласно законодательства США и Европы, оказывает физическим лицам (далее – «Вы», «Пользователь») услуги, связанные с совершением онлайн покупок в магазинах США и Европы, как самим Пользователем самостоятельно, так и Компанией от имени и за счет Пользователя, и их доставкой Пользователю (далее – «Услуги»). Компания и Пользователь далее совместно именуются как «Стороны», а по отдельности – «Сторона». Нижеперечисленные положения и условия являются соглашением Сторон (далее – «Соглашение»), определяют и регулируют правоотношения, возникающие у Сторон при предоставлении Услуг, включая посредством веб-сайта www.raidex.kg (далее – «Сайт») и одноименных страниц Компании в социальных интернет сетях и мессенджерах.
        .chapter-item
          p 2.
          p Осуществляя вход на Сайт, регистрируясь на нем, загружая любые сведения о себе, а также предоставляя иную информацию через Сайт  и пользуясь Услугами, Вы подтверждаете, что внимательно ознакомились и соглашаетесь с положениями и условиями предоставления Услуг, размещенными на Сайте, условиями пользования Сайтом (далее – «Условия») и безоговорочно принимаете настоящее Соглашение. Если Вы не согласны с Условиями целиком или в какой-либо их части, Вы не можете использовать Услуги.
        .chapter-item
          p 3.
          p Компания оставляет за собой право без предварительного уведомления, в одностороннем порядке, изменить Условия предусмотренные настоящим Соглашением, разместив их на Сайте и отметив дату последних изменений. Компания может по своему усмотрению дополнительно уведомить Вас о внесенных изменениях. При этом, обязанностью Пользователя является самостоятельно посещать Сайт и проверять актуальность Условий. Новые условия будут иметь юридическую силу и распространяться на обязательства Сторон со дня размещения на Сайте.
      br
      br
      div#chapter2
        .title.title_h4 Глава 2. ДОСТУП К САЙТУ
        .chapter-item
          p 4.
          p Соглашаясь с Условиями, Вы подтверждаете, что в соответствии с применимым законодательством Вы полностью дееспособны и имеете право пользоваться Услугами. Компания не предоставляет услуг лицам, не достигшим 16 летнего возраста. Если Вам не исполнилось 18 лет, Вы можете пользоваться Сайтом только с участием родителя/опекуна. Компания оставляет за собой право отказать в предоставлении Вам Услуг, закрыть Ваш счет, удалить или отменить сделанные Вами заказы по своему усмотрению.
        .chapter-item
          p 5.
          p Если Вы родитель/опекун, предоставивший разрешение своему несовершеннолетнему ребенку зарегистрироваться и пользоваться Сайтом, Вы принимаете и соглашаетесь с настоящими Условиями в отношении использования Услуг своим несовершеннолетним ребенком.
        .chapter-item
          p 6.
          p Мы оставляем за собой право без предварительного уведомления удалить Сайт и по своему усмотрению менять его содержимое. Мы не будем нести ответственность, если Сайт будет для Вас недоступен, полностью или частично, в любое время и любой продолжительности времени. Время от времени Мы можем полностью или частично ограничить доступ любого Пользователя к Сайту.
        .chapter-item
          p 7.
          p Мы также оставляем за собой право закрыть любой зарегистрированный на Сайте индивидуальный Счет в любой момент и по любой причине, соответствующим образом известив об этом Пользователя и вернуть имеющиеся средства на балансе.
      br
      br
      div#chapter3
        .title.title_h4 Глава 3. РЕГИСТРАЦИЯ И ЛИЧНЫЙ КАБИНЕТ
        .chapter-item
          p 8.
          p Чтобы воспользоваться Услугами, Вам необходимо зарегистрироваться на Сайте и открыть свой индивидуальный счет (далее – «Счет»). 
        .chapter-item
          p 9.
          p При регистрации Вы обязуетесь указать Ваши настоящие персональные данные, действующий электронный почтовый адрес и номер телефона. Если у Нас будут основания полагать, что любая предоставленная Вами информация является недостоверной или неполной, Мы оставляем за собой право закрыть Ваш Счет или ограничить доступ к Счету до тех пор, пока несоответствия не будут устранены.
        .chapter-item
          p 10.
          p Каждый Пользователь может иметь только один Счет. Вы не имеете право использовать Счета других Пользователей, равно как и передавать доступ к Вашему Счету и Ячейке третьим лицам.
        .chapter-item
          p 11.
          p Вы несете личную ответственность за конфиденциальность информации о своем Счете и пароле доступа и обязуетесь не предоставлять к ним доступ третьим лицам. Вы обязаны немедленно сообщить Компании, если предполагаете, что на Ваш Счет был осуществлен неразрешенный вход или он был взломан. В любом случае, Компания не несет ответственности за действия других лиц по Счету Пользователя. Всю ответственность за нанесенный ущерб Компании или третьим лицам действиями, указанными выше, несет Пользователь
        .chapter-item
          p 12.
          p После успешной регистрации Вам будет предоставлен доступ к Вашему личному кабинету (далее - «Личный Кабинет»), где Вы сможете управлять личными данными, отслеживать статус выполнения Заказов, пополнять баланс денежных средств и направлять обращения в службу поддержки Компании.
        .chapter-item
          p 13.
          p Через Личный Кабинет Компания будет направлять Вам уведомления о статусе выполнения Заказов и другую важную информацию, а Вашей обязанностью будет регулярно знакомиться с ними. Вы также даете согласие Компании направлять Вам уведомления на указанные в Личном Кабинете номер телефона и адрес электронной почты и подтверждаете, что сообщения, отправленные на них или полученные с них, включая посредством мессенджеров, являются должным образом отправленными, Пользователем или Пользователю.
        .chapter-item
          p 14.
          p В случае, если Вы не пользуетесь Счетом в течение двух лет (одного года, если денежные средства на балансе отсутствуют), Компания на свое усмотрение может закрыть Счет, а остаток средств на балансе списать в свою пользу. Пользованием Счетом признается движение денежных средств на Счете, отправка Посылок, приобретение сервисов Компании. Начисление реферальных вознаграждений и авторизация в Личном Кабинете Пользователя не считаются пользованием Счетом.
        .chapter-item
          p 15.
          p Ячейка может быть использована только в целях приема и дальнейшей пересылки онлайн покупок со Склада в Казахстан. Пользователь не имеет права заявлять адрес Склада для любых других целей, включая в качестве адреса ведения деятельности или проживания в США. В случае нарушения настоящего положения, Компания может прекратить оказание Услуг и закрыть Счет.
      br
      br
      div#chapter4
        .title.title_h4 Глава 4. ПОСЫЛКИ
        .chapter-item
          p 16.
          p Приобретая товары в онлайн магазинах и оформляя их на Склад, Вы обязуетесь не использовать счета и карты третьих лиц. Оплата товаров гифт картами также категорически запрещена. В случае нарушения данных правил Мы имеем право приостановить оказание Услуг, а все товары поступившие на адрес Компании передать почтовым службам для возврата за Ваш счет, либо за счет почтовых служб. Стоимость возврата Компанией не оплачивается, претензии по возврату товаров Компанией не принимаются.
        .chapter-item
          p 17.
          p Компания оставляет за собой право запросить дополнительные документы, подтверждающие личность Пользователя и законность совершенных покупок, а также в любой момент отказать в предоставлении Услуг по своему усмотрению. Указанная мера применяется избирательно и может быть, в частности, направлена на предотвращение мошеннических действий с картами и счетами.
        .chapter-item
          p 18.
          p При самостоятельной онлайн покупке магазин направит на указанный Вами электронный адрес ссылку с трек номером курьерской службы, по которому Вы сможете отслеживать путь посылки от магазина до Склада. Если Вы приобрели несколько предметов, магазин может направить покупки отдельными посылками. Курьерская служба соответственно присвоит каждой Посылке отдельный трек номер, направив Вам на указанный электронный адрес соответствующие оповещения. Вам необходимо обязательно зарегистрировать все трек номера в Личном Кабинете до даты доставки Посылки на Склад. Если Вы вовремя не зарегистрируете трек номер, Посылка может быть утеряна или не доставлена в срок. Обращаем Ваше особое внимание, что пересылке в Казахстан подлежат только зарегистрированные Посылки. Мы оставляем за собой право не выполнить Заказ, полностью или частично, если Вы своевременно не зарегистрируете все трек номера или они будут зарегистрированы ошибочно.
        .chapter-item
          p 19.
          p Регистрируя Посылку, Вы обязуетесь задекларировать достоверную информацию о ее содержимом и стоимости. Вы несете полную ответственность за декларацию заведомо ложных сведений о Посылке согласно Кодекса Кыргызской Республики об административных правонарушениях, а Мы имеем право приостановить оказание Вам Услуг.
        .chapter-item
          p 20.
          p Хранение Посылок на Складе более 30 календарных дней не разрешается. В случае, если Вы не зарегистрируете Посылку в течение 30 календарных дней после ее прибытия на Склад, Компания будет иметь право утилизировать Посылку без возмещения стоимости.
        .chapter-item
          p 21.
          p При самостоятельной онлайн покупке Вам необходимо убедиться, что интернет магазину стоит доверять. На Сайте мы публикуем список магазинов, где рекомендуется приобретать товары. Этот список не является исчерпывающим и Вашей ответственностью является убедиться в надежности интернет магазина, прежде чем оформлять покупку.
        .chapter-item
          p 22.
          p Компания оставляет за собой право самостоятельного выбора способа доставки Посылок. В случае изменения способа доставки Посылок из-за форс-мажорных обстоятельств, Компания имеет право на перерасчет стоимости доставки.
        .chapter-item
          p 23.
          p Входящие Посылки должны соответствовать допустимым для отправки габаритам и/или весу. Компания оставляет за собой право отказаться от приема входящей Посылки, которая при внешнем осмотре или замерах превышает указанные параметры. Взаимодействие Пользователя с магазинами и почтовыми службами, осуществляющими доставку Посылки до Склада, производится исключительно силами Пользователя.
        .chapter-item
          p 24.
          p В случае, если размер или вес Посылки послужат причиной смены авиаперевозчика, или если Заказ может относится к опасным грузам или препятствовать отправке заказов других пользователей, Компания имеет право отказаться от выполнения Заказа или пересчитать стоимость доставки, потребовав предварительную оплату.
        .chapter-item
          p 25.
          p В период праздничных скидок количество Заказов может превысить возможности их обработки Компанией. Мы рекомендуем позаботиться о размещении Заказа заранее. Компания имеет право изменить сроки доставки Посылок, а также приостановить предоставление Услуг.
        .chapter-item
          p 26.
          p Таможенные службы США, Европы и Кыргызстана запрещают к международной и внутренней пересылке ряд предметов и веществ. Соответственно, Компания имеет право проверить содержимое Посылки с целью исключить наличие запрещенных к пересылке предметов. Прежде чем оформлять Заказ, Пользователь обязан ознакомиться с актуальными списками запрещенных предметов, размещенных на официальных информационных ресурсах. В любом случае, Пользователь несет личную ответственность за нарушение таможенного законодательства.
        .chapter-item
          p 27.
          p Вы можете оформить возврат Посылки продавцу до момента ее отправки со Склада в США и Европе. Для оформления возврата Вам необходимо предоставить нам Возвратный ярлык (Return Label) и оплатить услугу возврата. Стоимость услуги вы можете уточнить у ассистента Компании. Срок исполнения услуги - до 5 рабочих дней. Посылки, отправленные со Склада США возврату не подлежат. Моментом отправки со Склада является изменение ее статуса на “В Пути” в Вашем Личном Кабинете. В случае с запрещенными для пересылки предметами и веществами, если Вы не оформите возврат Посылки в течение 30 дней с даты прибытия на Склад в США, Компания имеет право утилизировать Посылку без возмещения стоимости. Датой прибытия является изменение статуса посылки на “На складе в США” в Вашем Личном Кабинете.
        .chapter-item
          p 28.
          p Пользователь обязан проинформировать отправителя о том, что приобретаемый им товар экспортируется за пределы США и Европы. Продавец в свою очередь обязан определить необходимость получения Пользователем соответствующей лицензии на экспорт и импорт. В случае необходимости лицензии, Пользователю следует отказаться от направления товара на Склад. Любые последствия нарушения законодательств США и Кыргызстана являются ответственностью Пользователя.
        .chapter-item
          p 29.
          p Состояние Посылки на момент прибытия на склад Компании является исключительной ответственностью Пользователя. Компания не несет ответственность за ущерб, причиненный по причине неправильной или некачественной упаковки Посылки отправителем. Посылки со значительными повреждениями отправляться в Кыргызстан не будут.
        .chapter-item
          p 30.
          p Компания оставляет за собой право переупаковать Посылку, деконсолидировать или консолидировать, сохраняя нормы и требования безопасности.
        .chapter-item
          p 31.
          p В случае, если Посылка хранится на таможенном, транзитном или любом другом складе не по вине Компании, Пользователь обязуется самостоятельно и за свой счет нести расходы, связанные с ее хранением, а в случае, если расходы за хранение были оплачены за счет Компании, пользователь обязуется компенсировать/возместить указанные расходы.
        .chapter-item
          p 32.
          p Компания уведомляет Пользователя о том, что в соответствии с законодательством Кыргызской Республики, в зависимости от характера, количества товаров, а также частоты перемещения товаров, ввозимых Пользователем на территорию Таможенного союза, к товарам для личного пользования относятся:- изделия из меха (в том числе головные уборы) - 1 (один) предмет одного наименования, размера и фасона на одного Пользователя;- мобильный телефон - 2 (две) единицы на Пользователя;- планшет - 2 (две) единицы на Пользователя;- портативный переносной компьютер и принадлежности к нему (ноутбук, нэтбук) - 1 (одна) единица на Пользователя;- ювелирные изделия - 5 (пять) предметов на Пользователя;- велосипед - 1 (одна) штука на Пользователя;- детская коляска - 1 (одна) штука на Пользователя;
        .chapter-item
          p 33.
          p В случае, если Посылка хранится на таможенном, транзитном или любом другом складе не по вине Компании, Пользователь обязуется самостоятельно и за свой счет нести расходы, связанные с ее хранением, а в случае, если расходы за хранение были оплачены за счет Компании, пользователь обязуется компенсировать/возместить указанные расходы
      br
      br
      div#chapter5
        .title.title_h4 Глава 5. ВЫКУП ТОВАРА
        .chapter-item
          p 34.
          p Компания предоставляет Услугу «Выкуп товара», совершая покупку товаров в онлайн магазинах США и Европы от имени и за счет Пользователя. Воспользовавшись данной услугой, Вы сможете сэкономить свое время и избавиться от ряда сложностей в размещении Заказа, таких как прием оплаты иностранными картами, ограничения по доставке товара на склад Компании, регистрация и отслеживание Посылки по трек номеру, организация возврата товара, итд. 
        .chapter-item
          p 35.
          p Воспользоваться Услугой “Выкуп товара” можно после регистрации на Сайте и предоставив ассистентам Компании информацию о желаемом товаре и промокодах на товар. Для этого Вам необходимо заполнить соответствующую заявку (далее - “Заявка”) в Личном Кабинете и произвести оплату. Оплату необходимо произвести в течение 24 часов или срок Вашей Заявки истечет. Оплата производится банковской картой за соответствующую Заявку, а не через пополнение и списание средств с Вашего баланса. Выкуп товара по Вашей Заявке производится в порядке очереди и может занять от 24 до 48 часов. Как только мы разместим Вашу Заявку в магазине, Вам поступит уведомление, что Заявка Размещена. Вскоре после того, как магазин пришлет нам трек номер заказа, Ваша Заявка сменит свой статус на "Исполнено", а трек номер будет зарегистрирован нашими ассистентами в Вашем личном кабинете. 
        .chapter-item
          p 36.
          p Нередко онлайн магазины США и Европы отменяют заказ или требуют его подтверждения по электронной почте или звонку в центр обслуживания клиентов. Соответственно, исполнение таких Заявок требует повторных размещений с использованием альтернативных средств платежа или адресов доставки и может занять больше времени. 
        .chapter-item
          p 37.
          p Вы вправе запросить отмену Заявки через личный кабинет, либо обратившись к Нам с соответствующим запросом. Если Ваша Заявка еще не была размещена в онлайн магазине (статус "Выкупаем"), Мы вернем Вам средства на ту-же карту, с которой был совершен платеж. Если Ваша Заявка в статусе "Заявка размещена", то возврат средств по ней возможен только в случае отмены заказа магазином. 
        .chapter-item
          p 38.
          p Цены на товары в онлайн магазинах постоянно меняются. В случае изменения цены в большую сторону до 5% от заявленной, Компания имеет право разместить Заказ без дополнительного согласования с Пользователем, при условии наличия достаточных средств на балансе Пользователя. Если средств недостаточно, Заявка может быть аннулирована. 
        .chapter-item
          p 39.
          p Пользователь несет полную ответственность за правильность выбора размера, цвета, модели, количества и других характеристик товара. По умолчанию все размеры рассматриваются Исполнителем как американские. Пользователь не может указывать размер в стандарте, который не используется на сайте магазина/продавца. 
        .chapter-item
          p 40.
          p Компания не несет ответственность за качество, подлинность и соответствие товаров, заявленным онлайн магазином. Онлайн магазины предоставляют на выбор разные сроки доставки товара. По умолчанию ассистенты Компании выберут за Вас наиболее экономичный способ доставки. Если Вы пожелаете выбрать более дорогой и быстрый способ, Вам необходимо уведомить ассистента, указав об этом в соответствующем поле Заявки. Цена заказа в Личном Кабинете указывается с учетом стоимости доставки до Склада. 
        .chapter-item
          p 41.
          p В случае, если выбранный Пользователем товар не доступен для приобретения в указанном Пользователем онлайн магазине, Компания может без согласования с Пользователем выкупить идентичный товар в другом онлайн магазине при условии, что цена не превышает, а качество соответствует заявке Пользователя. 
        .chapter-item
          p 42.
          p В случае, если Заявка не может быть размещена по любым причинам, либо онлайн магазин ее отменил, статус Вашей заявки сменится в личном кабинете на "Товар недоступен". Со сменой статуса Компания возвращает Пользователю средства на ту-же карту, с которой был совершен платеж. Срок поступления средств на Вашу карту - от 3 до 7 рабочих дней. Вы обязуетесь принять средства обратно и не можете требовать от Компании повторного исполнения Заявки, либо какой-либо компенсации за неисполнение Заявки, включая неустойку или пользование средствами в период исполнения Заявки.
      br
      br
      div#chapter6
        .title.title_h4 Глава 6. ОТВЕТСТВЕННОСТЬ КОМПАНИИ
        .chapter-item
          p 43.
          p Компания несет материальную ответственность за сохранность Посылок с момента их принятия на Складе и до вручения Пользователю в следующих размерах: - за утрату Посылки без объявленной стоимости – в двукратном размере оплаченного Пользователем тарифа за доставку. - за недостачу или повреждение части вложения Посылки без объявленной стоимости - в размере суммы оплаченного тарифа.- - за утрату или повреждение вложений Посылки с объявленной стоимостью – в размере суммы объявленной стоимости утерянного или поврежденного вложения. 
        .chapter-item
          p 44.
          p Принятием Посылки на Складе считается подтвержденный Складом факт поступления и обработки Посылки. Доказательство доставки, предоставленное Вам курьерскими службами США и Европы таковым не является и Вашей ответственностью будет самостоятельное обращение в курьерскую службу для организации поиска Посылки. 
        .chapter-item
          p 45.
          p Вручением Посылки Пользователю считается ее вручение Пользователю, либо доверенному лицу в пункте выдачи заказов или передача Посылки курьерской службе для последующей доставки до дверей. 
        .chapter-item
          p 46.
          p Объявленная стоимость Посылки не должна превышать реальную стоимость вложений. 
        .chapter-item
          p 47.
          p Посылки с запрещенным для пересылки предметами и веществами, либо требующими специальной экспортной или импортной лицензии возмещению не подлежат. Компания не несет ответственность за решения, принятые государственными органами (таможенными, контрольно-пропускными, и другими правоохранительными службами) при проверке Посылок, предъявленных на досмотр, Компания при этом обязуется немедленно информировать о таких решениях Пользователя. 
        .chapter-item
          p 48.
          p Посылки с вложениями, приобретенными с использованием гифт карт или счетов и карт третьих лиц возмещению не подлежат. 
        .chapter-item
          p 49.
          p Компания освобождается от ответственности за утрату, повреждение (порчу) Посылки или вложений внутри Посылки, нарушение сроков пересылки, если будет доказано, что неисполнение или ненадлежащее исполнение обязательств оказалось невозможным вследствие непреодолимой силы или особых свойств вещей, предметов или товаров в Посылке и по иным основаниям, предусмотренным международными договорами. 
        .chapter-item
          p 50.
          p В любом случае, ответственность Компании ограничивается суммой нормы беспошлинного ввоза согласно правил ввоза товаров физическими лицами в страны ЕАЭС. 
        .chapter-item
          p 51.
          p Ответственность Компании ограничивается доказанным реальным ущербом. Компания не несет ответственность за упущенную выгоду. 
        .chapter-item
          p 52.
          p Претензии об утерянных и поврежденных Посылках предъявляются Компании в течение 30 (тридцати) календарных дней со дня получения Посылки или с момента окончания срока, установленного для выдачи Посылки. Претензии не принимаются, если факт пропажи и повреждения вложения или части вложения был установлен Пользователем после принятия Посылки получателем под роспись, а также, если в момент вручения не был составлен акт с участием представителя Компании. 
        .chapter-item
          p 53.
          p К претензии прилагаются копия счета онлайн магазина с подтверждением стоимости содержимого. 
        .chapter-item
          p 54.
          p В случае обнаружения Посылки после выплаты возмещения, она вручается Пользователю при условии возврата возмещения или возвращается отправителю.
      br
      br
      div#chapter7
        .title.title_h4 Глава 7. ПЕРСОНАЛЬНЫЕ ДАННЫЕ
        .chapter-item
          p 55.
          p Для предоставления Вам Услуг, Компания собирает, хранит, обрабатывает и использует Ваши персональные данные. Принимая настоящие Условия обслуживания Вы даете согласие Компании на сбор, хранение, обработку и использование Ваших персональных данных на условиях, изложенных в соответствующем Соглашении, размещенном на Сайте.
      br
      br
      div#chapter8
        .title.title_h4 Глава 8. РЕКВИЗИТЫ
        .chapter-item
          p 56.
          p Реквизиты ОсОО "Raidex"

      
        