extends layouts/static-page

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';


block title
  | Raidex
block main
  include includes/title

  .text
    .container 
      .title.title_h2 Запрещенные товары

      p Обращаем Ваше внимание, что следующие предметы и вещества запрещены к перевозке авиасообщением. Все посылки тщательно проверяются нашими специалистами и службами безопасности авиаперевозок США и Европы. Если Вы заказали запрещенные к перевозке предметы, они будут храниться на складе не более 30 дней для организации Вами возврата в магазин, а после - утилизируются.
      br
      ul 
        li оружие (огнестрельное, пневматическое, спортивное, холодное, реплики, образцы), любые его комплектующие и компоненты, любые точные копии и боеприпасы к нему, в любой категории или форме, включая игрушки;
        li оптическое прицельное оборудование и тактические фонари (ручные и монтируемые на оружие), в том числе бинокли, аксессуары и крепежные детали;
        li ножи, кортики (кроме кухонных и складных), топоры, мачете;
        li приборы ночного видения и аксессуары для ночного видения, тепловизионная техника и тепловые искатели, металлодетекторы;
        li рации и радиотелефоны;
        li товары двойного назначения, которые могут быть использованы в боевых операциях (дроны и квадрокоптеры, оборудование Starlink, бронежелеты, тактическое и камуфляжное обмундирование и аксессуары, различные гаджеты и оборудование);
        li легковоспламеняющиеся и взрывоопасные вещества;
        li пиротехника и изделия с пиротехническими веществами;
        li любая огнеопасная жидкость или пудра, аэрозоли, в том числе баллончики под давлением;
        li парфюмерия, мисты, лаки для волос и ногтей и другие спиртосодержащие вещества;
        li аккумуляторные литиевые батареи (разрешены только новые в составе приборов);
        li ядовитые вещества, едкие, токсичные, сильнодействующие и радиоактивные материалы, ртутные термометры;
        li краски, отбеливатели, клеи;
        li товары с содержанием топлива;
        li любые виды табачных изделий и курительных смесей, в т.ч. электронные сигареты и жидкость для них;
        li алкогольная продукция, этиловый спирт, пиво;
        li растения в любом виде и состоянии, семена растений, удобрения;
        li скоропортящиеся продукты питания;
        li наркотические средства, психотропные вещества и их прекурсоры, в том числе в виде лекарственных средств;
        li наличные деньги, чеки, облигации и другие ценные бумаги, жетоны, медали, банковские карты;
        li культурные ценности, произведения искусства и картины;
        li печатные издания и материалы порнографического содержания, расового, национального, религиозного превосходства, культа жестокости и насилия;
        li драгоценные камни, за исключением ювелирных изделий;
        li сухой лед;
        li подушки безопасности для автомобилей;
        li животные, противоблошиные ошейники и спреи;
        li одежда и аксессуары из кожи редких животных;
        li процессоры Bitcoin и другие подобные системы;
        li инфекционные вещества, биологические материалы, химические материалы;
        li иные товары, запрещенные к пересылке в соответствии с актами Всемирного почтового союза и таможенным законодательством Таможенного союза.
      br

      p Если Вы не уверены, запрещен ли к пересылке заказываемый Вами товар, мы рекомендуем Вам обратиться в службу поддержки и получить квалифицированную консультацию наших специалистов.