extends layouts/jq-ui

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';
  - var slider = sliderMain;
  - var logBtns = true
  - var page = 'index'

block title
  | Alay.kg
block main
  include includes/title